<div class="panel">
  <div class="panel__buttons">
    <span class="panel__generate" (click)="generate()">
      <fa-icon [icon]="faRandom"></fa-icon>
      RND
    </span>
    <span class="panel__reset" (click)="resetCells()">
      <fa-icon [icon]="faTrash"></fa-icon>
      DEL
    </span>
  </div>
  <div class="panel__grid">
    <span class="panel__index">{{panelNumber}}</span>
    <ng-container *ngFor="let cell of defaultCells; index as i">
      <app-cell
        [id]="i + 1"
        (selectEvent)="selectCell($event)"
        [selected]="cell"
      ></app-cell>
    </ng-container>
  </div>
</div>

